appdirs==1.4.3
appnope==0.1.0
astroid==1.4.9
backports-abc==0.5
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0rc1
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bleach==1.5.0
certifi==2017.7.27.1
cffi==1.3.1
characteristic==14.3.0
chardet==3.0.4
configparser==3.5.0
cryptography==1.1.2
cssselect==0.9.1
curve==0.1.0
cycler==0.10.0
decorator==4.1.2
Django==1.11.2
echarts-python==0.1.3
entrypoints==0.2.2
enum34==1.1.6
facebook-sdk==1.0.0
Flask==0.10.1
Flask-Login==0.3.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
gevent==1.2.2
gnureadline==6.3.3
greenlet==0.4.12
grs==0.7.0
-e git+https://github.com/openai/gym@9ce682914fc23c7b3ffa3ac685c02af4713f00bb#egg=gym
h5py==2.6.0
html5lib==0.9999999
idna==2.5
iloveck101==0.5.2
## !! Could not determine repository location
iloveig==0.0.1
ipaddress==1.0.15
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyter-kernel-gateway==2.0.0
jupyterthemes==0.17.3
Keras==1.2.1
lazy-object-proxy==1.2.2
lesscpy==0.12.0
line==0.8.0
lxml==3.8.0
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
mercurial==4.2.2
mistune==0.7.4
mock==2.0.0
more-itertools==2.2
nbconvert==5.1.1
nbformat==4.3.0
nltk==3.2.1
notebook==5.0.0
numpy==1.13.1
packaging==16.8
pandas==0.20.2
pandocfilters==1.4.1
path.py==8.1.2
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.4.2
pkginfo==1.4.1
ply==3.10
prompt-toolkit==1.0.15
protobuf==3.3.0
ptyprocess==0.5.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyglet==1.2.4
Pygments==2.2.0
pylint==1.6.5
PyMySQL==0.7.9
pyobjc==3.2.1
pyobjc-core==3.2.1
pyobjc-framework-Accounts==3.2.1
pyobjc-framework-AddressBook==3.2.1
pyobjc-framework-AppleScriptKit==3.2.1
pyobjc-framework-AppleScriptObjC==3.2.1
pyobjc-framework-ApplicationServices==3.2.1
pyobjc-framework-Automator==3.2.1
pyobjc-framework-AVFoundation==3.2.1
pyobjc-framework-AVKit==3.2.1
pyobjc-framework-CalendarStore==3.2.1
pyobjc-framework-CFNetwork==3.2.1
pyobjc-framework-CloudKit==3.2.1
pyobjc-framework-Cocoa==3.2.1
pyobjc-framework-Collaboration==3.2.1
pyobjc-framework-Contacts==3.2.1
pyobjc-framework-ContactsUI==3.2.1
pyobjc-framework-CoreBluetooth==3.2.1
pyobjc-framework-CoreData==3.2.1
pyobjc-framework-CoreLocation==3.2.1
pyobjc-framework-CoreText==3.2.1
pyobjc-framework-CoreWLAN==3.2.1
pyobjc-framework-CryptoTokenKit==3.2.1
pyobjc-framework-DictionaryServices==3.2.1
pyobjc-framework-DiskArbitration==3.2.1
pyobjc-framework-EventKit==3.2.1
pyobjc-framework-ExceptionHandling==3.2.1
pyobjc-framework-FinderSync==3.2.1
pyobjc-framework-FSEvents==3.2.1
pyobjc-framework-GameCenter==3.2.1
pyobjc-framework-GameController==3.2.1
pyobjc-framework-ImageCaptureCore==3.2.1
pyobjc-framework-IMServicePlugIn==3.2.1
pyobjc-framework-InputMethodKit==3.2.1
pyobjc-framework-InstallerPlugins==3.2.1
pyobjc-framework-InstantMessage==3.2.1
pyobjc-framework-Intents==3.2.1
pyobjc-framework-IOSurface==3.2.1
pyobjc-framework-LatentSemanticMapping==3.2.1
pyobjc-framework-LaunchServices==3.2.1
pyobjc-framework-LocalAuthentication==3.2.1
pyobjc-framework-MapKit==3.2.1
pyobjc-framework-MediaAccessibility==3.2.1
pyobjc-framework-MediaLibrary==3.2.1
pyobjc-framework-MediaPlayer==3.2.1
pyobjc-framework-ModelIO==3.2.1
pyobjc-framework-MultipeerConnectivity==3.2.1
pyobjc-framework-NetFS==3.2.1
pyobjc-framework-NetworkExtension==3.2.1
pyobjc-framework-NotificationCenter==3.2.1
pyobjc-framework-OpenDirectory==3.2.1
pyobjc-framework-Photos==3.2.1
pyobjc-framework-PhotosUI==3.2.1
pyobjc-framework-PreferencePanes==3.2.1
pyobjc-framework-PubSub==3.2.1
pyobjc-framework-QTKit==3.2.1
pyobjc-framework-Quartz==3.2.1
pyobjc-framework-SafariServices==3.2.1
pyobjc-framework-SceneKit==3.2.1
pyobjc-framework-ScreenSaver==3.2.1
pyobjc-framework-ScriptingBridge==3.2.1
pyobjc-framework-SearchKit==3.2.1
pyobjc-framework-ServiceManagement==3.2.1
pyobjc-framework-Social==3.2.1
pyobjc-framework-SpriteKit==3.2.1
pyobjc-framework-StoreKit==3.2.1
pyobjc-framework-SyncServices==3.2.1
pyobjc-framework-SystemConfiguration==3.2.1
pyobjc-framework-WebKit==3.2.1
pyOpenSSL==0.15.1
pyparsing==2.2.0
pyquery==1.2.17
python-dateutil==2.6.1
python-telegram-bot==5.3.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
queuelib==1.4.2
requests==2.18.3
requests-toolbelt==0.8.0
rsa==3.4
scandir==1.5
scapy==2.3.1
scikit-learn==0.17
scipy==0.19.1
Scrapy==1.0.3
selenium==3.0.2
service-identity==14.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.5
subprocess32==3.2.7
tensorflow==1.2.1
terminado==0.6
testpath==0.3
Theano==0.8.2
thrift==0.9.3
torch==0.1.9.post2
torchvision==0.1.7
tornado==4.5.1
tqdm==4.15.0
traitlets==4.3.2
tushare==0.6.8
twine==1.9.1
Twisted==15.5.0
ujson==1.35
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.1.0
w3lib==1.13.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
wrapt==1.10.8
wxPython==3.0.2.0
wxPython-common==3.0.2.0
yasm==0.0
zope.interface==4.1.3
